# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.pyc
# Virtual environment
venv/
env/
ENV/

# IDE specific files
.vscode/
.idea/

#Audio Files
*.mp3
*.WAV
*.wav
*.MP3

# IGNORE THE MODEL FOR NOW
model_training/

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log

# Local configuration file
config.ini

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Qt Creator files
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv

# Audio files
.mp3
.wav

# Folders
resources/